{% extends 'shop/basic.html' %}
{% block title %} Privacy Policy {% endblock %}
{% block body %}
<div class="container my-4">


    <p><strong>We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Policy describes how Shopping Cart  Services  collect and process your personal information through Shopping Cart websites, devices, products, services, online marketplace and applications that reference this Privacy Policy .</strong></p>

    <p><strong>By using Shopping Cart Services you agree to our use of your personal information (including sensitive personal information) in accordance with this Privacy Policy, as may be amended from time to time by us at our discretion. You also agree and consent to us collecting, storing, processing, transferring, and sharing your personal information (including sensitive personal information) with third parties or service providers for the purposes set out in this Privacy Notice.</strong></p>



<h2> What Personal Information About Customers Does Shopping Cart Collect?</h2>
<p> We collect your personal information in order to provide and continually improve our products and services.</p>

<p> Here are the types of personal information we collect:</p>

<p>
<strong> Information You Give Us:</strong> We receive and store any information you provide in relation to Shopping Cart Services.</p>



<p>
<strong> Information from Other Sources:</strong> We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more easily. </p>






<h2> For What Purposes Does Shopping Cart Use Your Personal Information? </h2>
<p>We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:
		</p>
    <ul>
<li>
<span class="a-list-item"><strong>Purchase and delivery of products and services.</strong> We use your personal information to take and fulfill orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.</span>
</li>

<li>
<span class="a-list-item"><strong>Provide, troubleshoot, and improve Shopping Cart Services. </strong>We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Shopping Cart Services.</span>
</li>

<li>
<span class="a-list-item">Recommendations and personalization. We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with Shopping Cart Services.</span>
</li>



<li>
<span class="a-list-item"><strong>Comply with legal obligations.</strong> In certain cases, we collect and use your personal information to comply with laws. For instance, we collect from sellers information regarding place of establishment and bank account information for identity verification and other purposes.</span>
</li>

<li>
<span class="a-list-item"><strong>Communicate with you.</strong> We use your personal information to communicate with you in relation to Shopping Cart Services via different channels (e.g., by phone, e-mail, chat).</span>
</li>



<li>
<span class="a-list-item"><strong>Fraud Prevention and Credit Risks. </strong>We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, Shopping Cart, and others. We may also use scoring methods to assess and manage credit risks.</span>
</li>


</ul>





<h2> What About Cookies and Other Identifiers?</h2>

<ul>
<li>
<span class="a-list-item">To enable our systems to recognize your browser or device and to provide and improve Shopping Cart Services, we use cookies and other identifiers. For more information about cookies and how we use them, please read our Cookies Notice.</span>
</li>


</ul>


<h2> Does Shopping Cart Share Your Personal Information? </h2>
<p>Information about our customers is an important part of our business and we are not in the business of selling our customers’ personal information to others.</p>


<ul>
<li>
<span class="a-list-item"><strong>Transactions involving Third Parties:</strong> We make available to you services, products, applications, or skills provided by third parties for use on or through Shopping Cart Services. For example, the products you order through our marketplace are our own.  </span>
</li>

<li>
<span class="a-list-item"><strong>Third-Party Service Providers:</strong> We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing payments, transmitting content, scoring, assessing and managing credit risk, and providing customer service. These third-party service providers have access to personal information needed to perform their functions, but may not use it for other purposes. Further, they must process the personal information in accordance with applicable law.</span>
</li>

<li>
<span class="a-list-item"><strong>Business Transfers:</strong> As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also,  Shopping Cart Seller Services Private Limited or any of its affiliates, or substantially all of their assets are acquired, customer information will of course be one of the transferred assets.</span>
</li>

<li>
<span class="a-list-item"><strong>Protection of Shopping Cart and Others:</strong> We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property, or safety of Shopping Cart, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</span>
</li>


</ul>

<p>Other than as set out above, you will receive notice when personal information about you might be shared with third parties, and you will have an opportunity to choose not to share the information.</p>


<h2> How Secure Is Information About Me? </h2>
<p> We design our systems with your security and privacy in mind.</p>


<ul >
<li>
<span class="a-list-item">We work to protect the security of your personal information during transmission by using encryption protocols and software.</span>
</li>

<li>
<span class="a-list-item"> We follow the Payment Card Industry Data Security Standard (PCI DSS) when handling payment card data.</span>
</li>

<li>
<span class="a-list-item"> We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, processing, and disclosure of personal customer information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.</span>
</li>

</ul>



    <h2> What Information Can I Access?</h2>
<p> You can access your information, including your name, address, payment options, profile information, Prime membership, household settings, and purchase history in the "Your Account" section of the website or mobile application. To request access to personal information that is not available through Your Account you can submit a request here.</p>



<h2> What Choices Do I Have?</h2>
<p>If you have any questions as to how we collect and use your personal information, please contact our Grievance Officer. Many of our Shopping Cart Services also include settings that provide you with options as to how your information is being used</p>

<span class="a-list-item"> As described above, you can always choose not to provide certain information, but then you might not be able to take advantage of many of the Shopping Cart Services.</span>





<h2> Conditions of Use, Notices , and Revisions</h2>
<p> If you choose to use Shopping Cart Services, your use and any dispute over privacy is subject to this Notice and our Conditions of Use, including limitations on damages, resolution of disputes, and application of the prevailing law in India. If you have any concern about privacy at Amazon, please <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser help-display-cond-rule-platform-PhoneAppAndroid help-display-cond-rule-platform-TabletAppAndroid">
       contact us</span> with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice will change also. You should check our websites frequently to see recent changes. </p>

<p>Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>




<h2> Examples of Information Collected</h2>
<p>
<strong> Information You Give Us When You Use Shopping Cart Services</strong>
</p>
<p>
<strong>As a result of those actions, you might supply us with such information as:</strong>
</p>
<ul>
<li>
<span class="a-list-item"> identifying information such as your name, address and phone numbers; </span>
</li>

<li>
<span class="a-list-item"> payment information;</span>
</li>

<li>
<span class="a-list-item"> your age;</span>
</li>

<li>
<span class="a-list-item"> your location information;</span>
</li>


<li>
<span class="a-list-item">people, addresses and phone numbers listed in your Addresses;</span>
</li>
<li>
<span class="a-list-item">content of reviews and e-mails to us;</span>
</li>
<li>
<span class="a-list-item">images, videos and other content collected or stored in connection with Shopping Cart Services;</span>
</li>
<li>
<span class="a-list-item">information and officially valid documents regarding identity and address information, including PAN numbers;</span>
</li>

<li>
<span class="a-list-item">credit history information;</span>
</li>

<li>
<span class="a-list-item">corporate and financial information; and</span>
</li>
</ul>

<p>
<strong> Automatic Information</strong>
</p>

<p> Examples of the information we collect and analyze include:</p>


<ul>


<li>
<span class="a-list-item"> login, e-mail address, and password;</span>
</li>

<li>
<span class="a-list-item"> device metrics such as when a device is in use, application usage, connectivity data, and any errors or event failures;</span>
</li>

<li>
<span class="a-list-item">Shopping Cart Services metrics (e.g., the occurrences of technical errors, your interactions with service features and content, your settings preferences and backup information, location of your device running an application, information about uploaded images and files such as the file name, dates, times and location of your images);</span>
</li>

<li>
<span class="a-list-item"> version and time zone settings;</span>
</li>

<li>
<span class="a-list-item"> purchase and content use history, which we sometimes aggregate with similar information from other customers to create features like Shopping Cart Best Product;</span>
</li>

<li>
<span class="a-list-item"> phone numbers used to call our customer service number; and</span>
</li>

<li>
<span class="a-list-item"> images or videos when you shop in our marketplace using Shopping Cart Services.</span>
</li>


</ul>

<p>
<strong> Information from Other Sources</strong>
</p>

<p>Examples of information we receive from other sources include: </p>


<ul>
<li>
<span class="a-list-item">updated delivery and address information from our carriers or other third parties, which we use to correct our records and deliver your next purchase or communication more easily; </span>
</li>

<li>
<span class="a-list-item"> account information, purchase or redemption information and page-view information from some merchants with which we operate co-branded businesses or for which we provide technical, fulfillment, advertising or other services; </span>
</li>

<li>
<span class="a-list-item"> information about your interactions with products and services offered by our affiliates;</span>
</li>

<li>
<span class="a-list-item"> search results and links, including paid listings (such as Sponsored Links);</span>
</li>


<li>
<span class="a-list-item"> credit history information from credit bureaus, which we use to help prevent and detect fraud and to offer certain credit or financial services to some customers.</span>
</li>


</ul>

<p>
<strong> Information You Can Access</strong>
</p>

<p>Examples of information you can access through Shopping Cart Services include: </p>


<ul>


<li>
<span class="a-list-item"> your complete order history;</span>
</li>

<li>
<span class="a-list-item"> personally identifiable information (including name, e-mail, password, and address book); </span>
</li>

<li>
<span class="a-list-item"> payment settings (including payment method information) </span>
</li>

<li>
<span class="a-list-item"> e-mail notification settings (including Product Availability Alerts, Delivers, Special Occasion Reminders and newsletters); </span>
</li>

<li>
<span class="a-list-item"> recommendations</span>
</li>


<li>
<span class="a-list-item"> Your Profile (including your product Reviews, Recommendations and personal profile);</span>
</li>



</ul>
</div>

{% endblock %}