{% extends "shop/basic.html" %}
{% block css %}
.col{
box-sizing: content-box;
}
{% endblock %}
{% block body %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container  py-5">
	<div class=" border border-dark"> <h1 class="text-center my-4">Sign Up</h1>
	<form method="POST">
		{% csrf_token %}

		<div id="div_id_username" class="form-group d-grid col-4 mx-auto my-4"> <label for="id_username" class=" requiredField fw-bold">
                Username<span class="asteriskField">*</span> </label>
			<div class=" my-2"> <input type="text" name="username" maxlength="150" autofocus="" class="textinput textInput form-control" required="" id="id_username">
				<small id="hint_id_username" class="form-text text-muted my-2">
					Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
			</div>
		</div>

		<div id="div_id_email" class="form-group d-grid col-4 mx-auto ">
			<label for="id_email" class=" requiredField fw-bold">
                Email<span class="asteriskField">*</span> </label>
			<input type="email" name="email" class="emailinput form-control my-4" required="" id="id_email">
		</div>

		<div id="div_id_first_name" class="form-group d-grid col-4 mx-auto">
			<label for="id_first_name" class=" requiredField fw-bold">
                First Name<span class="asteriskField">*</span> </label>
			<input type="text" name="first_name" class="textinput form-control my-4" required="" id="id_first_name">
		</div>
		<div id="div_id_last_name" class="form-group d-grid col-4 mx-auto ">
			<label for="id_last_name" class="  fw-bold">
                Last Name<span class="asteriskField"></span> </label>
			<input type="text" name="last_name" class="textinput form-control my-4" required="" id="id_last_name">
		</div>

		
		<div id="div_id_password1" class="form-group d-grid col-4 mx-auto"> <label for="id_password1" class=" requiredField fw-bold">
                Password<span class="asteriskField">*</span> </label>
			<div class="form-group my-2">
				<input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control" required="" id="id_password1">
				<small id="hint_id_password1" class="form-text text-muted">
					<ul class="my-2">
					<li>Your password can’t be too similar to your other personal information.</li>
					<li>Your password must contain at least 8 characters.</li>
					<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li></ul>
				</small> </div> </div>


		<div id="div_id_password2" class="form-group d-grid col-4 mx-auto my-4 "> <label for="id_password2" class=" requiredField fw-bold">
                Password confirmation<span class="asteriskField">*</span> </label>
			 <input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control my-2" required="" id="id_password2">
				<small id="hint_id_password2" class="form-text text-muted my-2">
			Enter the same password as before, for verification.</small> </div>


 <div class='d-grid col-2 mx-auto my-4'>
		<button class="btn btn-primary" type="submit">Register</button></div>
	</form>
	<p class="text-center fw-bold">If you already have an account, <a href="/shop/login/">login</a> instead.</p>
</div></div>

{% endblock %}